.listItems {
  color:white;
  font-size: 20px;
  background-color: #007f4f;
  border-radius: 7px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
  }

  li {
    padding-top: 10px;
    padding-left: 5px;
    list-style-type: none;
    background: #fbaf08;
    color: darkblue;
    margin: 5px;
    border-radius: 10px;
  }
